@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

:root {
    --blue: #00A3DE;
    --gray: #6D778B;
    --white-clr: #F7F9FB;
    --main-font: 'DM Sans', sans-serif;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --font-size: 20px;
    --font-size-big: 25px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

.main-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-wrapper {
    display: grid;
    place-items: center;
    background-image: url(images/891613_O928X90\ 1.png);
    width: 100vw;
    height: 100vh;
}

.first-wrapper {
    border-radius: 60px;
    background-color: var(--white-clr);
    width: clamp(350px, 50%, 683px);
    display: grid;
    place-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.energy-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 3rem;
}

.logo-div {
    width: 88.88px
}

.logo-div img{
   display: block;
}

.h3-head {
    width: 183px;
    font-size: var(--font-size-big);
    color: var(--blue);
    font-weight: var(--weight-500);
    line-height: 26.66px;
}

.para {
    font-size: var(--font-size);
    color: var(--gray);
    text-align: center;
    margin-bottom: 1.8rem;
}

.btn {
    display: block;
    width: 100%;
    font-family: var(--main-font);
    color: var(--blue);
    font-size: 14px;
    line-height: 18.23px;
    background-color: transparent;
    border: var(--blue) 2px solid;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--blue);
    color: var(--white-clr);
    transition: 400ms ease-in-out;
}

/* gas cost page begins */
.cost-wrapper {
    padding-block: 3rem;
    background-image: url(images/891613_O928X90\ 1\ \(1\).png);
}

.cost-wrap {
    margin-inline: auto;
    width: clamp(280px, 60%, 683px);
    background-color: var(--white-clr);
    display: grid;
    place-items: center;
    border-radius: 40px;
}

.cost-inside {
    padding-block: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;
}

.cost-energy-wrap {
    justify-content: center;
    background-color: var(--white-clr);
    margin-bottom: unset;
}

.cost-para {
    width: 280px;
    margin-inline: auto;
}

.costy {
    min-height: 42px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    padding: 5px 5px 5px 20px;
}

.costy p {
    color: var(--gray);
    font-size: 14px;
}

.cost-year {
    border: 1px solid #F2F3F4;
    color: var(--gray);
    height: 42px;
    border-radius: 40px;
    text-align: center;
    color: var(--gray);
    font-size: 16px;
}

.cost-year:focus {
    outline: 2px solid var(--blue);
}

.costy-btn-flex {
    margin-inline: auto;
    width: 80%;
    display: flex;
    gap: 5px;
}

.calc-wrap {
    width: 80%;
    margin-inline: auto;
}

/* result style */
.main-result {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    background-image: url(images/891613_O928X90\ 1\ \(1\).png);
}

.result-section {
    margin-inline: auto;
    border-radius: 60px;
    background-color: var(--white-clr);
    width: clamp(350px, 50%, 683px);
    display: grid;
    place-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.result-inside {
    width: 70%;
}

.result-tot {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.tot-wrap {
    background-image: url(images/Vector\ 4.png), url(images/Vector\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 273px;
    height: 271px;
    border: 5px solid #00A3DE33;
    border-radius: 40px;
    display: grid;
    place-items: center;
}

.total-result {
    font-size: 60px;
    font-weight: var(--font-size-big);
    color: var(--blue);
}

.result-wrap {
    justify-content: center;
    margin-bottom: 4rem;
}

.return {
    text-decoration: none;
    text-align: center;
}

.pot {
    width: 310.8px;
    font-size: 32px;
    line-height: 30.46px;
    margin-bottom: 1rem;
    color: #264860;
}

.paging {
    position: absolute;
    bottom: 0;
}

.paging li {
    list-style: none;
}



@media screen and (max-width: 800px){
    .cost-wrap {
        width: 90%;
    }

    .cost-inside {
        width: 95%;
    }

    .costy {
        padding-left: 10px;
    }
}