 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 700px;
    color: #FFFFFF;
    display: grid;
    place-items: center;
    font-family: 'Helvetica';
}

.section-box {
    width: clamp(320px, 75vw, 700px);
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #007AFF;
    border-radius: 60px;
}

.offer {
    background-color: #FFDD01;
    color: black;
    margin-inline: auto;
    padding: 5px;
    width: 134px;
    border-radius: 22px;
    transform: translateY(-15px);
}

.pic {
    width: 100%;
    height: 70%;
}

.product-img {
    border-radius: 60px;
    height: 100%;
    width: 100%;
    display: block;
}

.tiny-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.nok {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    position: relative;
    align-self: center;
    
}

.nok::after {
    content: url(images/Vector\ 1.svg);
    width: 70%;
    position: absolute;
    bottom: -13px;
    right: 10px;
}

.save-btn {
    background-color: #FFDD01;
    color: black;
    padding: 5px 15px;
    border-radius: 22px;
    border: none;
    font-size: 16px;
    font-weight: 400px;
}

.blue-box {
    background-color: #007AFF;
    height: 60px;
    border-radius: 0 0 60px 60px;
}

.pack {
    width: 345px;
    margin-inline: auto;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    border-bottom: 1px solid white;
}



@media screen and (max-width: 500px) {
    .section-box {
        height: 380px;
        gap: 10px;
    }

    .pic {
        height: 230px;
    }

    .pack {
        font-size: 12px;
        width: 210px;
    }

    .tiny-flex {
        font-size: 16px;
    }

    .nok {
        font-size: 14px;
    }

    .save-btn {
        padding: 5px 15px;
       border-radius: 22px;
       font-size: 14px;
    }

    .nok::after {
    position: absolute;
    left: 0;
    transform: scaleX(.5);
}

}  */
